In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirrors.estointernet.in/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.1.2-bin-hadoop3.2'

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("Colab_Excersie").config('spark.ui.port', '4050').getOrCreate()

In [ ]:
spark

## parallelize() method is used to create an RDD from a iterable object
.

In [ ]:
rdd=spark.sparkContext.parallelize([1,2,3,4,56])
print("rdd count",rdd.count())

rdd count 5

IRIS DATASET

In [ ]:
#from sklearn import datasets

#iris = datasets.load_iris()

In [ ]:
!git clone https://gist.github.com/a08a1080b88344b0c8a7.git

Cloning into 'a08a1080b88344b0c8a7'...
remote: Enumerating objects: 35, done.
remote: Total 35 (delta 0), reused 0 (delta 0), pack-reused 35
Unpacking objects: 100% (35/35), done.

In [ ]:
#!wget https://github.com/MargaretHall/Fuzzy_cMean_entropy.git

In [ ]:
ls

a08a1080b88344b0c8a7/  README.md
index.html             spark-3.1.2-bin-hadoop3.2/
iris.csv               spark-3.1.2-bin-hadoop3.2.tgz
iris.json

In [ ]:
cd a08a1080b88344b0c8a7

/content/a08a1080b88344b0c8a7/a08a1080b88344b0c8a7

In [ ]:
ls

index.html  iris.csv  iris.json  README.md

In [ ]:
df=spark.read.csv('/content/a08a1080b88344b0c8a7/iris.csv',header=True)

In [ ]:
df.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- sepal_length: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- species: string (nullable = true)

In [ ]:
df.count()

150

In [ ]:
df.select('sepal_length',df.sepal_width,'species').show()

+------------+-----------+-------+
|sepal_length|sepal_width|species|
+------------+-----------+-------+
|         5.1|        3.5| setosa|
|         4.9|        3.0| setosa|
|         4.7|        3.2| setosa|
|         4.6|        3.1| setosa|
|         5.0|        3.6| setosa|
|         5.4|        3.9| setosa|
|         4.6|        3.4| setosa|
|         5.0|        3.4| setosa|
|         4.4|        2.9| setosa|
|         4.9|        3.1| setosa|
|         5.4|        3.7| setosa|
|         4.8|        3.4| setosa|
|         4.8|        3.0| setosa|
|         4.3|        3.0| setosa|
|         5.8|        4.0| setosa|
|         5.7|        4.4| setosa|
|         5.4|        3.9| setosa|
|         5.1|        3.5| setosa|
|         5.7|        3.8| setosa|
|         5.1|        3.8| setosa|
+------------+-----------+-------+
only showing top 20 rows

In [ ]:
df.describe().show()

+-------+------------------+-------------------+------------------+------------------+---------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|  species|
+-------+------------------+-------------------+------------------+------------------+---------+
|  count|               150|                150|               150|               150|      150|
|   mean| 5.843333333333335| 3.0540000000000007|3.7586666666666693|1.1986666666666672|     null|
| stddev|0.8280661279778637|0.43359431136217375| 1.764420419952262|0.7631607417008414|     null|
|    min|               4.3|                2.0|               1.0|               0.1|   setosa|
|    max|               7.9|                4.4|               6.9|               2.5|virginica|
+-------+------------------+-------------------+------------------+------------------+---------+

In [ ]:
df.select("species").distinct().show()

+----------+
|   species|
+----------+
| virginica|
|versicolor|
|    setosa|
+----------+

## **PySpark SQL **

In [ ]:

df.createOrReplaceTempView("IRIS_DATA")
df2 = spark.sql("SELECT * from IRIS_DATA")
df2.printSchema()
df2.show()

root
 |-- sepal_length: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- species: string (nullable = true)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [ ]:
classDF=spark.sql("SELECT species,count(*) from IRIS_DATA group by species")
classDF.printSchema()
classDF.show()

root
 |-- species: string (nullable = true)
 |-- count(1): long (nullable = false)

+----------+--------+
|   species|count(1)|
+----------+--------+
| virginica|      50|
|versicolor|      50|
|    setosa|      50|
+----------+--------+

# Vector Assembler

In [ ]:
df.show(5)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 5 rows

In [ ]:
mod=df.select(df.sepal_length.cast("float"),df.sepal_width.cast("float"),df.petal_length.cast("float"),df.petal_width.cast("float"),df.species)

In [ ]:
mod.show()

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
|         5.0|        3.6|         1.4|        0.2| setosa|
|         5.4|        3.9|         1.7|        0.4| setosa|
|         4.6|        3.4|         1.4|        0.3| setosa|
|         5.0|        3.4|         1.5|        0.2| setosa|
|         4.4|        2.9|         1.4|        0.2| setosa|
|         4.9|        3.1|         1.5|        0.1| setosa|
|         5.4|        3.7|         1.5|        0.2| setosa|
|         4.8|        3.4|         1.6|        0.2| setosa|
|         4.8|        3.0|         1.4|        0.1| setosa|
|         4.3|        3.0|         1.1|        0.1| setosa|
|         5.8|        4.0|         1.2|        0.2| setosa|
|         5.7|        4.4|         1.5|        0.4| setosa|
|         5.4|        3.9|         1.3|        0.4| setosa|
|         5.1|        3.5|         1.4|        0.3| setosa|
|         5.7|        3.8|         1.7|        0.3| setosa|
|         5.1|        3.8|         1.5|        0.3| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

# specify the input and output columns of the vector assembler
assembler = VectorAssembler(inputCols=['sepal_length','sepal_width','petal_length','petal_width'],outputCol='vector')

# transform the data
final_data = assembler.transform(mod)

# view the transformed vector
final_data.select('vector').show()

+--------------------+
|              vector|
+--------------------+
|[5.09999990463256...|
|[4.90000009536743...|
|[4.69999980926513...|
|[4.59999990463256...|
|[5.0,3.5999999046...|
|[5.40000009536743...|
|[4.59999990463256...|
|[5.0,3.4000000953...|
|[4.40000009536743...|
|[4.90000009536743...|
|[5.40000009536743...|
|[4.80000019073486...|
|[4.80000019073486...|
|[4.30000019073486...|
|[5.80000019073486...|
|[5.69999980926513...|
|[5.40000009536743...|
|[5.09999990463256...|
|[5.69999980926513...|
|[5.09999990463256...|
+--------------------+
only showing top 20 rows

EXAMPLES : USING PIPELINES To Tranform The data

In [ ]:
mod.show(4)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 4 rows

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer

In [ ]:
stage_1 = StringIndexer(inputCol= 'species', outputCol= 'y')

stage_2= VectorAssembler(inputCols=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], outputCol='X')
dt = DecisionTreeClassifier(featuresCol = 'X', labelCol = 'y', maxDepth = 4)
# setup the pipeline
classification_pipeline = Pipeline(stages=[stage_1,stage_2,dt])
model = classification_pipeline.fit(mod)

In [ ]:
transf_mod=model.transform(mod)

In [ ]:
transf_mod.show()

+------------+-----------+------------+-----------+-------+---+--------------------+--------------+-------------+----------+
|sepal_length|sepal_width|petal_length|petal_width|species|  y|                   X| rawPrediction|  probability|prediction|
+------------+-----------+------------+-----------+-------+---+--------------------+--------------+-------------+----------+
|         5.1|        3.5|         1.4|        0.2| setosa|0.0|[5.09999990463256...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.9|        3.0|         1.4|        0.2| setosa|0.0|[4.90000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.7|        3.2|         1.3|        0.2| setosa|0.0|[4.69999980926513...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.6|        3.1|         1.5|        0.2| setosa|0.0|[4.59999990463256...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.0|        3.6|         1.4|        0.2| setosa|0.0|[5.0,3.5999999046...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.4|        3.9|         1.7|        0.4| setosa|0.0|[5.40000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.6|        3.4|         1.4|        0.3| setosa|0.0|[4.59999990463256...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.0|        3.4|         1.5|        0.2| setosa|0.0|[5.0,3.4000000953...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.4|        2.9|         1.4|        0.2| setosa|0.0|[4.40000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.9|        3.1|         1.5|        0.1| setosa|0.0|[4.90000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.4|        3.7|         1.5|        0.2| setosa|0.0|[5.40000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.8|        3.4|         1.6|        0.2| setosa|0.0|[4.80000019073486...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.8|        3.0|         1.4|        0.1| setosa|0.0|[4.80000019073486...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         4.3|        3.0|         1.1|        0.1| setosa|0.0|[4.30000019073486...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.8|        4.0|         1.2|        0.2| setosa|0.0|[5.80000019073486...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.7|        4.4|         1.5|        0.4| setosa|0.0|[5.69999980926513...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.4|        3.9|         1.3|        0.4| setosa|0.0|[5.40000009536743...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.1|        3.5|         1.4|        0.3| setosa|0.0|[5.09999990463256...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.7|        3.8|         1.7|        0.3| setosa|0.0|[5.69999980926513...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
|         5.1|        3.8|         1.5|        0.3| setosa|0.0|[5.09999990463256...|[50.0,0.0,0.0]|[1.0,0.0,0.0]|       0.0|
+------------+-----------+------------+-----------+-------+---+--------------------+--------------+-------------+----------+
only showing top 20 rows

In [ ]:
df_sum = df.groupby("Species").agg({'species(+)': "sum"})
display(df_sum)

In [ ]:
[1, 2, 3][1:]

[2, 3]